{% extends 'base.html.twig' %}

{% block body %}
<form method="post" id="log">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <!--h1 class="h3 font-weight-normal text-center" style="margin-top: 35px; margin-bottom: 35px">Connexion</h1-->
    <h1 class="h3 font-weight-normal text-center mt-4 mb-4">Connexion</h1>
    <!--div class="form-group col-2" style="margin-left: 800px"-->
    <div class="form-group col-4 mx-auto">

        <label for="inputEmail">Email:</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    
    </div>
    <!--div class="form-group col-2" style="margin-left: 800px"-->
    <div class="form-group col-4 mx-auto">
    
        <label for="inputPassword">Mot de Passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    
    <button class="btn btn-primary" type="submit">
        Connexion
    </button>

    <a class="text-center" href="{{path('create')}}">Créer un compte</a>
        
</form>
{% endblock %}