{% include "base.html.twig" %}

{% block body %}
    {% include "admin/nav.html.twig" %}

        {{form_start(searchForm)}}
            {{form_widget(searchForm)}}
        {{form_end(searchForm)}}

        <div class="mt-3 text-center" style="background-color: rgb(46, 139, 87); color: white">
            {% for article in articles %}
                <h3>{{article.user.lastname}} {{article.user.firstname}} {{article.date|date("d/m/Y H:i:s")}}<span class="mr-5"></span>{{article.category}}</h3>
                <br>
                <h4>{{article.title}}</h4>
                <img src="{{asset(article.image)}}" class="img-fluid" alt="BERSERK!">
                <p>{{article.contents}}</p>
                <a href="{{ path('article_edit', {'id': article.id}) }}" class="text-white">Modifier</a>
                {# <a href="{{ path('delete', {'id': list.id}) }}" class="text-white">Supprimer</a> #}
            {% endfor %}
            <a href="{{ path('article_create')}}" class="text-white">Ajouter un article</a>
            <a href="#" class="text-white">Gérer les commentaires</a>
        </div>
{% endblock %}

{% include "footer.html.twig" %}