{% include "base.html.twig" %}

{% block body %}
<body style="background-color: rgb(60, 179, 113); color: white">
    {% include "admin/nav.html.twig" %}
        <div class="mt-3 text-center" style="background-color: rgb(46, 139, 87); color: white">
            {% for list in lists %}
                <h3>{{list.user.lastname}} {{list.user.firstname}} {{list.date|date("d/m/Y H:i:s")}}<span class="mr-5"></span>{{list.category}}</h3>
                <br>
                <h4>{{list.title}}</h4>
                <img src="{{list.image}}" class="img-fluid" alt="BERSERK!">
                <p>{{list.contents}}</p>
                <a href="{{ path('article', {'id': list.id}) }}" class="text-white">Modifier</a>
                <a href="{{ path('delete', {'id': list.id}) }}" class="text-white">Supprimer</a>
            {% endfor %}
            <a href="#" class="text-white">Ajouter un article</a>
            <a href="#" class="text-white">Gérer les commentaires</a>
        </div>
</body>
{% endblock %}