{% extends "base.html.twig" %}

{% block body %}
    {% include "admin/nav.html.twig" %}

        {{form_start(searchForm)}}
            {{form_widget(searchForm)}}
        {{form_end(searchForm)}}

        <div class="mt-3 text-center" style="background-color: rgb(46, 139, 87); color: white">
            {% for comment in comments %}
                <h3>{{comment.user.lastname}} {{comment.user.firstname}} {{comment.user.pseudo}}</h3>
                <h3>{{comment.user.email}}</h3>
                <h4>{{comment.article.title}}</h4>
                <p>{{comment.message}}</p>
                {% if comment.approve == 1 %}
                    <p><em>Ce commentaire à été approuvé</em></p>
                    <p>{{comment.approve}}</p>
                {% endif %}
                {% if comment.approve is null %}
                    <p><em>Ce commentaire n'a pas été encore approuvé</em></p>
                    <a href="{{path('commentary_approve', {'id': comment.id})}}">Approuvé</a>
                    <a href="{{path('commentary_not_approve', {'id': comment.id})}}">Non approuvé</a>
                {% endif %}
                {% if comment.approve == 0 %}
                    <p><em>Ce commentaire n'a pas été approuvé et ne sera pas publié</em></p>
                    <p>{{comment.approve}}</p>
                {% endif %}
                <a href="{{ path('article', {'id': comment.article.id}) }}">Voir l'article</a>
                <a href="{{ path('commentary_edit', {'id': comment.id}) }}">Modifier le commentaire</a>
                <hr>
            {% endfor %}
        </div>
{% endblock %}