{% include "base.html.twig" %}

{% block body %}
<a class="btn btn-primary mt-2 ml-3" href="{{ path('default') }}" role="button">Retour à l'acceuille</a>

<div class="text-center bg-primary text-white mt-3 ml-5 mr-5">
    <h3 class="text-left">{{article.user.lastname}} {{article.user.firstname}} {{article.date|date("d/m/Y H:i:s")}}<span class="ml-5">{{article.category}}</span></h3>
    <br>
    <h4>{{article.title}}</h4>
    <h6>{{article.underTitle}}</h6>
    <img src="{{article.image}}" class="img-fluid">
    <p class="text-left mt-3 ml-2">{{article.contents}}</p>
<div>

<div class="bg-success text-white">

    <br>

    {% if commentary is empty %}
        <h4>Il n'y a pas de commentaires!!!</h4>
    {% else %}
        {% for comment in commentary %}
            {{comment.user.pseudo}}
            {{comment.message}}
            {{comment.date|date("d/m/Y H:i:s")}}
        {% endfor %}        
    {% endif %}
    
    
    {% if app.user %}
        {{form_start(commentaryForm)}}
            <button class="btn btn-primary">{{button_label|default('Ajouter')}}</button>
        {{form_end(commentaryForm)}}
    {% else %}
        <h4>Vous devez être connecter pour poster un commentaire</h4>
    {% endif %}
</div>
{% endblock %}