{% include "base.html.twig" %}

{% block body %}
    {% for list in liste %}
        <h3>{{list.user.lastname}} {{list.user.firstname}} {{list.date|date("d/m/Y H:i:s")}}<span class="mr-5"></span>{{list.category}}</h3>
        <br>
        <h4>{{list.title}}</h4>
        <img src="{{list.image}}" class="img-fluid" alt="BERSERK!">
        <p>{{list.contents|slice(1, 10)}}</p>
    {% endfor %}
{% endblock %}

{% include "footer.html.twig" %}