{% extends "base.html.twig" %}

{% block body %}

{{form_start(searchForm)}}
    {{form_widget(searchForm)}}
{{form_end(searchForm)}}

<div class="text-center bg-primary text-white mt-3 ml-5 mr-5">
    {% for article in articles %}
        <h3 class="text-left">{{article.user.lastname}} {{article.user.firstname}} {{article.date|date("d/m/Y H:i:s")}}<span class="ml-5">{{article.category}}</span></h3>
        <br>
        <h4>{{article.title}}</h4>
        <img src="{{article.image}}" class="img-fluid" alt="Image">
        <p class="text-left mt-3 ml-2">{{article.contents|slice(0, 10) ~ '...'}}</p>
        <a href="{{ path('article', {'id': article.id}) }}" class="text-white">En savoir plus</a>
        <br>
        <form method="post" action="{{path('userLike', {'id': article.id})}}">
            <button class="btn btn-outline-success"><i class="far fa-thumbs-up mr-2"></i>J'aime</button>
        </form>
        <form method="post" action="{{path('userShare', {'id': article.id})}}">
            <button class="btn btn-outline-secondary"><i class="far fa-share-up mr-2"></i>Paratager</button>
        </form>
    {% endfor %}

</div>

<br>

<div class="navigation">
    {{knp_pagination_render(articles, null, {}, {

        'align': 'center',
        'size': 'medium',
        'rounded' : 'false'
    })}}
</div>
{% endblock %}