{% extends "base.html.twig" %}

{% block body %}
{% include "user/nav.html.twig" %}
    {{form_start(searchForm)}}
        {{form_widget(searchForm)}}
    {{form_end(searchForm)}}

    <div class="mt-3 text-center" style="background-color: rgb(46, 139, 87); color: white">
        {% if commentaries is empty%}
            <h5>Il semble que vous n'avez pas aimer d'article</h5>

            {% else %}
                {% for comment in commentaries %}
                    <img src="{{asset(comment.article.image)}}" class="img-fluid">
                    <p>{{comment.article.title}}</p>
                    <p>{{comment.article.category}}</p>
                    <p>{{comment.article.contents}}</p>
                    <p>{{comment.article.user.lastname}} {{comment.article.user.firstname}}</p>
                    <p><em>Votre commenataire</em></p>
                    <p>{{comment.message}}</p>
                    <a href="{{path('article', {'id': comment.article.id})}}">Voir l'article</a>
                    <hr>
                {% endfor %}
        {% endif %}
    </div>

    <br>

    <div class="navigation">
        {{knp_pagination_render(commentaries, null, {}, {

            'align': 'center',
            'size': 'medium',
            'rounded' : 'false'
        })}}
    </div>
{% endblock %}