<ul class="nav justify-content-center" id="firstBackground">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('user_index') }}">Accueille</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_edit', {'id': app.user.id}) }}">Informations Personnelles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href"{{ path('user_like') }}">Articles aimés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_share') }}">Articles partagés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_commentary') }}">Articles commentés</a>
    </li>
</ul>